.kunyeFormContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.kunyeForm{
width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border:1px solid black;
    border-radius: 5px;
    margin: 10px;
}

.kunyeForm>label{
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 10px;
}

.kunyeForm > input{
    width: 100%;
    height: 50px;
    margin: 20px;
    padding: 15px;
}

.kunyeFormButton{
    width: 100%;
    height: 60px;
    border:none;
    border-radius:5px;
    color:white;
    background-color: teal;
    cursor:pointer;
    
}


